<div class="background">
  <div class="welcome">

    <mat-card>
      <mat-card-content>
        <img mat-card-image src="../../assets/landing1.jpeg" height="200" width="200" alt="biz">
      </mat-card-content>
      <mat-card-subtitle>
        <h1>MANAGE & TRACK</h1>
        <p>Keep track of your investments.</p>
      </mat-card-subtitle>
      <!-- <mat-card-actions>
        <button mat-raised-button color="primary">LETS GET IT</button>
      </mat-card-actions> -->
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img mat-card-image src="../../assets/landing2.jpeg" height="200" width="200" alt="biz">
      </mat-card-content>
      <mat-card-subtitle>
        <h1>PERFORMANCE</h1>
        <h1>OF YOUR</h1>
        <h1>PORTFOLIO</h1>
        <p>Now with real-time metrics.</p>
      </mat-card-subtitle>
      <!-- <mat-card-actions>
        <button mat-raised-button color="accent">STRAIGHT UP</button>
      </mat-card-actions> -->
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img mat-card-image src="../../assets/landing3.jpeg" height="200" width="200" alt="biz">
      </mat-card-content>
      <mat-card-subtitle>
        <h1>STOCKS AND</h1>
        <h1>CRYPTOS</h1>
        <p>DOWJONES and $US to start. More soon.</p>
      </mat-card-subtitle>
      <!-- <mat-card-actions>
        <button mat-raised-button color="warn">ITS LIT</button>
      </mat-card-actions> -->
    </mat-card>

  </div>
</div>
