
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: grey;
  color: #FFFFFF;
}

body {
  margin: 0;

}

::-webkit-scrollbar { 
  display: none; 
}